*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;
}


main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 600px;
    border-radius: 5px;
    padding: 30px 15px;
}

.card p{
   text-align: center;
   margin-bottom: 20px;
}

.outer{
    background-color: rgb(176, 176, 176);
    height: 20px;
    width: 100%;
    border-radius: 10px;
}

.inner{
    background-color:green;
    height: 20px;
    width: 0%;
    border-radius: 10px;
}

.bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
}

h1{
    font-weight: 500;
    font-size: 50px;
}


button{
    color: white;
    background-color: green;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid white;
}

button:active{
    scale: 1.5;
}