*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body,html{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100%;
    background-color:black;
    padding: 30px;

    img{
        height: 500px;
        width: 300px;
    }

    h2{
        font-size: 30px;
        margin-top: 15px;
    }
}